
:root {
    --fontfamily: 'Lato', monospace;
    --bodycolor: rgba(247, 232, 183, 0.949);
    --borderColor: #ff0000;
    --bodybackgroundcolor: #1a212b;
    --bulletcolor: rgb(247, 239, 213);
    --kruiskleur: #00546C;
    --l1value-0: pink;
    --l2value-0: red;
    --l2value-1: purple;
    --l2value-2: green;
    --l2value-3: orange;

    --buttoncolor :  rgb(247, 239, 213);

    --projectorange:rgb(247, 239, 213);
    --dropdownvalue:#222d40;


    --graphboven: #243b55;
    --graphonder: #28415d;

    --cardboven: #28415d;
    --cardonder: #1a273f;

    --topcolor: #111928;
    --middlecolor1: #162034;
    --middlecolor2: #172434;
    --bottomcolor: #1a2a3d;

    --tabselecttextcolor: #f0d9b0;
    --tabdeselecttextcolor: rgb(172, 171, 162);
    --tabdeselect: #1b2840;
    --tabhover: #26405e;
    --hovershadow:  rgba(247, 232, 183, 0.949);
    --rangeselector:#1a2a3d;

    --dropdownmenu: #243b55;
    --dropdownmenuoptions: #df84dc;

    --cardselect: #6610f2;
    --cardhover: #df84dc;
    --graphtypemove: #6610f2;
    --selectedcolor0: #6610f2;
    --blue: #4582ec;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #d9534f;
	--orange: #fd7e14;
	--yellow: #f0ad4e;
	--green: #02b875;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #868e96;
	--gray-dark: #343a40;
	--primary: #4582ec;
	--secondary: #adb5bd;
	--success: #02b875;
	--info: #A1A7AD;
	--warning: #f0ad4e;
	--danger: #d9534f;
	--light: #f8f9fa;
	--dark: #343a40;
	--mellowyellow: #d8d6c8;
	--coolblue: #1b568c;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --body-color: #e7e7e7;
    --sidebar-text-hover-color: #020b15;
    --sidebar-hover-color: #f3f6d0;
    --primary-color-light: #44bbee;
    --primary-color: #f2730c;
    --toggle-color: #ddd;
    --text-color-side: rgb(252, 234, 174);
    --gradientbasic:#D9AFD9;
    --gradientcolor: linear-gradient(196deg, #348ae6ac 0%, #2d4a6a 50%, #1e4978 100%);
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;


}
